[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/One-star11/px4_msgs.git
[submodule "image_pipeline"]
	path = image_pipeline
	url = https://github.com/One-star11/image_pipeline.git
	branch = foxy
[submodule "Micro-XRCE-DDS-Agent"]
	path = Micro-XRCE-DDS-Agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
